.app-container{
  width: 100%;
  max-width: 500px;
  padding-left:15px;
  padding-right:15px;
  margin: 5px auto;
  header{
    display: flex;
    align-items:center;
    justify-content: space-around;
    h1{
      flex-grow: 4;
    }
    .control{
      flex-grow: 1;
      text-align: center;
    }
  }
}
